# ignore all .log files
log/
*.log
cucumber-report.json
cucumber.html

# ignore the node_modules directory
node_modules/

#ingore test filder
coverage/
coverage-cucumber/
coverage-cucumber/app-chatbot/ 
coverage-cucumber/app-etl/  
coverage-cucumber/app-fee/  
coverage-jest/
data/
output/

src/app/*/config.ts

# ignore the build directory
dist/
test/test-json/features/test_data/out-1level.xlsx
test/test-json/features/test_data/out-2level.xlsx
output.xlsx
coverage-cucumber/coverage-final.json
coverage-cucumber/cucumber-report.json
coverage-cucumber/cucumber.html
coverage-cucumber/index.html
coverage-cucumber/app-chatbot/chatEngine.ts.html
coverage-cucumber/app-chatbot/index.html
coverage-cucumber/app-chatbot/poeChatEngine.ts.html
coverage-cucumber/app-etl/appEtlConfig.ts.html
coverage-cucumber/app-etl/etlProcesser.ts.html
coverage-cucumber/app-etl/index.html
coverage-cucumber/app-etl/iRecordType.ts.html
coverage-cucumber/app-fee/feeCalculator.ts.html
coverage-cucumber/app-fee/index.html
coverage-cucumber/app-fee/ruleLoader.ts.html
coverage-cucumber/app-fee/transactionLoader.ts.html
coverage-cucumber/app-fee-engine/DSCCalculator.ts.html
coverage-cucumber/app-fee-engine/enumFeeEngine.ts.html
coverage-cucumber/app-fee-engine/FIFOHoldingPeriodCalculator.ts.html
coverage-cucumber/app-fee-engine/index.html
coverage-cucumber/app-fee-engine/typeFeeEngine.ts.html
coverage-cucumber/app-interface/iETL.ts.html
coverage-cucumber/app-interface/index.html
coverage-cucumber/app-json/index.html
coverage-cucumber/app-json/jsonHelper.ts.html
coverage-cucumber/app-map/iCommit.ts.html
coverage-cucumber/app-map/index.html
coverage-cucumber/app-map/maptest.ts.html
coverage-cucumber/app-mask/constant.ts.html
coverage-cucumber/app-mask/data-mask.ts.html
coverage-cucumber/app-mask/index.html
coverage-cucumber/app-mask/jl-log4js.ts.html
coverage-cucumber/app-mask/loglog4js.ts.html
coverage-cucumber/app-mask/logwinston.ts.html
coverage-cucumber/app-rest/controllers/FilesController.ts.html
coverage-cucumber/app-rest/controllers/healthCheckController.ts.html
coverage-cucumber/app-rest/controllers/index.html
coverage-cucumber/lib/configHelper.ts.html
coverage-cucumber/lib/dateHelper.ts.html
coverage-cucumber/lib/excelHelper.ts.html
coverage-cucumber/lib/excelReader.ts.html
coverage-cucumber/lib/fileHelper.ts.html
coverage-cucumber/lib/index.html
coverage-cucumber/lib/logger.ts.html
coverage-cucumber/lib/postgresUploader.ts.html
coverage-cucumber/tmp/coverage-5807-1698573728952-0.json
test/test-json/features/test_data/out-1level.xlsx
test/test-json/features/test_data/out-2level.xlsx
test/test-json/features/test_data/out-1level.xlsx
output.xlsx
coverage-cucumber/coverage-final.json
coverage-cucumber/cucumber-report.json
coverage-cucumber/cucumber.html
coverage-cucumber/index.html
coverage-cucumber/app-chatbot/chatEngine.ts.html
coverage-cucumber/app-chatbot/index.html
coverage-cucumber/app-chatbot/poeChatEngine.ts.html
coverage-cucumber/app-etl/appEtlConfig.ts.html
coverage-cucumber/app-etl/etlProcesser.ts.html
coverage-cucumber/app-etl/index.html
coverage-cucumber/app-fee/feeCalculator.ts.html
coverage-cucumber/app-fee/index.html
coverage-cucumber/app-fee/ruleLoader.ts.html
coverage-cucumber/app-fee/transactionLoader.ts.html
coverage-cucumber/app-fee-engine/DSCCalculator.ts.html
coverage-cucumber/app-fee-engine/enumFeeEngine.ts.html
coverage-cucumber/app-fee-engine/FIFOHoldingPeriodCalculator.ts.html
coverage-cucumber/app-fee-engine/index.html
coverage-cucumber/app-fee-engine/typeFeeEngine.ts.html
coverage-cucumber/app-interface/iETL.ts.html
coverage-cucumber/app-interface/index.html
coverage-cucumber/app-json/index.html
coverage-cucumber/app-json/jsonHelper.ts.html
coverage-cucumber/app-map/iCommit.ts.html
coverage-cucumber/app-map/index.html
coverage-cucumber/app-map/maptest.ts.html
coverage-cucumber/app-mask/constant.ts.html
coverage-cucumber/app-mask/data-mask.ts.html
coverage-cucumber/app-mask/index.html
coverage-cucumber/app-mask/jl-log4js.ts.html
coverage-cucumber/app-mask/loglog4js.ts.html
coverage-cucumber/app-mask/logwinston.ts.html
coverage-cucumber/app-rest/controllers/FilesController.ts.html
coverage-cucumber/app-rest/controllers/healthCheckController.ts.html
coverage-cucumber/app-rest/controllers/index.html
coverage-cucumber/lib/configHelper.ts.html
coverage-cucumber/lib/dateHelper.ts.html
coverage-cucumber/lib/excelHelper.ts.html
coverage-cucumber/lib/excelReader.ts.html
coverage-cucumber/lib/fileHelper.ts.html
coverage-cucumber/lib/index.html
coverage-cucumber/lib/logger.ts.html
coverage-cucumber/tmp/coverage-5807-1698573728952-0.json
src/app/app-pdf/app.pdf.ts
src/app/app-json/result/results.csv
