# ignore env files
env
.env.local


# ignore all .log files
log/
logs/
*.log

# ignore output files
output/

# ignore the node_modules directory
# ignore the build directory
dist/
node_modules/
__pycache__/
*.pyc

#ingore test filder
coverage/
coverage-cucumber/
coverage-jest/
output/
cucumber-report.json
cucumber.html

docker-compose.01.yml
