# ignore env files
env
.env.local


# ignore all .log files
log/
logs/
*.log


# ignore the node_modules directory
# ignore the build directory
dist/
node_modules/

#ingore test filder
coverage/
coverage-cucumber/
coverage-jest/
output/
cucumber-report.json
cucumber.html

docker-compose.01.yml