{
  "extension": [
    ".ts"
  ],
  "include": [
    "src/data-mask.ts"
  ],
  "exclude": [
    "**/*.d.ts"
  ],
  "reporter": [
    "text-summary",
    "html"
  ],
  "all": true,
  "require": [
    "ts-node/register"
  ],
  "sourceMap": true,
  "instrument": true
}
