{
  "extension": [
    ".ts"
  ],
  "include": [
    "src/app/**/*.ts"
  ],
  "exclude": [
    "**/*.spec.ts",
    "**/*.test.ts"
  ],
  "reporter": [
    "html",
    "text-summary"
  ],
  "all": true,
  "cache": false
}
